@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background: url('./assets/icons/unsplash_RTdRHgyGiiw.svg') no-repeat center center fixed;
  /* Center the background and make it fixed */
  background-size: cover;
  height: 100vh;

  width: 100%;
  overflow: hidden;

}


.love-meter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 20px;
  height: 100vh;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.svg-container {
  position: relative;
  width: 100%;
  height: 177px;
  margin-bottom: 150px;

}

.svg-container svg {
  width: 100%;
}

.svg-container h3 {
  font-family: Red Rose;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 50px;
  /* box-shadow: 0px 4px 4px 0px #FF535340 inset; */

}

.liquid {
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    d: path("M0,177 Q50,197,100,177 T200,177 V177 H0 Z");
  }

  50% {
    d: path("M0,177 Q50,157,100,177 T200,157 V177 H0 Z");
  }

  100% {
    d: path("M0,177 Q50,197,100,177 T200,177 V177 H0 Z");
  }
}

.love-button {
  font-family: Red Rose;
  display: flex;

  align-items: center;
  width: 70%;
  justify-content: center;

  gap: 8px;

  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.3s ease;

}

.love-button img {
  width: 20px;

  height: 20px;

}

.love-button:hover {
  background-color: #ff5599;

  transform: scale(1.05);

}



.love-percentage {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.love-input {
  width: 100%;
  margin: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0px 4px 4px 0px #FF000040;

}

.input-container label {
  font-family: Red Rose;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.98px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  /* box-shadow: 0px 4px 4px 0px #FF535340 inset; */
  margin-bottom: 20px;

}

.input-container input {
  width: 70%;
  height: 35px;
  top: 178px;
  left: 50px;
  margin-bottom: 50px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  border: none;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #FF535340 inset;
  font-family: Red Rose;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: rgba(255, 83, 83, 0.25)
}


/* Header  */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Full viewport height */
  position: relative;
}

.header-container img {
  position: absolute;
  top: 10px;
  /* Adjust as needed */
  left: 10px;
  /* Adjust as needed */
}

.header-container h1 {

  font-family: Red Rose;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.95px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #FFFFFF;
}

/* Slider */
.slider-container {
  margin-bottom: 50px;
  width: 82%;
}

/*  Responsive*/
@media (max-width: 1200px) {
  .love-meter-container {
    width: 40%;
    height: auto;
    margin: 10px;
  }

  .svg-container {
    width: 180px;
    height: 160px;
    margin-bottom: 120px;
  }

  .svg-container h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .input-container input {
    width: 200px;
    height: 30px;
  }

  .header-container h1 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .love-meter-container {
    width: 60%;
  }

  .svg-container {
    width: 160px;
    height: 140px;
    margin-bottom: 100px;
  }

  .svg-container h3 {
    font-size: 18px;
  }

  .input-container input {
    width: 180px;
    height: 28px;
  }

  .header-container h1 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .love-meter-container {
    width: 80%;
    height: auto;
  }

  .svg-container {
    width: 140px;
    height: 120px;
    margin-bottom: 80px;
  }

  .svg-container h3 {
    font-size: 16px;
  }

  .input-container input {
    width: 160px;
    height: 26px;
  }

  .header-container h1 {
    font-size: 30px;
  }

  .slider-container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .love-meter-container {
    width: 100%;
    margin: 5px;
  }

  .svg-container {
    width: 120px;
    height: 100px;
    margin-bottom: 60px;
  }

  .svg-container h3 {
    font-size: 14px;
  }

  .input-container input {
    width: 80%;
    height: 54px;
  }

  .header-container h1 {
    font-size: 24px;
    width: 100%;
  }

  .slider-container {
    width: 95%;
  }

  .slider-container {
    margin-top: 120px;
  }

  .svg-container svg {
    width: 100%;
    margin-bottom: 0px;
  }

  .svg-container h3 {
    font-size: 30px;
  }

  .svg-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .love-meter-container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .svg-container {
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
  }

  .svg-container h3 {
    font-size: 20px;
  }

  .svg-container svg {
    width: 100%;
    margin-bottom: 0px;
  }

  .input-container {
    margin: 0;
  }

  .input-container input {
    width: 100%;
    height: 40px;
  }

  .header-container h1 {
    font-size: 20px;
  }

  .header-container img {
    display: contents;
  }

  .slider-container {
    margin-top: 120px;
  }
}